/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2; /* Cinza claro */
}

.profile-container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #ffffff; /* Branco */
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #00008B; /* Azul */
}

.profile-info {
    margin-bottom: 20px;
}

.profile-info h3 {
    margin-bottom: 10px;
    color: #333333; /* Cinza escuro */
}

.profile-info p {
    color: #666666; /* Cinza médio */
}

/* Estilos específicos para cada perfil */
.student-info,
.teacher-info,
.professional-info,
.admin-info {
    margin-bottom: 20px;
}

.student-info h3,
.teacher-info h3,
.professional-info h3,
.admin-info h3 {
    margin-bottom: 10px;
    color: #00008B; /* Azul */
}

.student-info p,
.teacher-info p,
.professional-info p,
.admin-info p {
    color: #333333; /* Cinza escuro */
}

.file-search {
    margin-bottom: 20px;
}

.file-search label {
    display: block;
    margin-bottom: 5px;
    color: #333333; /* Cinza escuro */
}

.file-search input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc; /* Cinza claro */
    border-radius: 5px;
}

.file-search select {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc; /* Cinza claro */
    border-radius: 5px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
    padding-right: 40px;
}

.search-button {
    width: 100%;
    padding: 10px;
    background-color: #00008B; /* Azul */
    border: none;
    border-radius: 5px;
    color: #ffffff; /* Branco */
    font-size: 16px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #00BFFF; /* Azul mais escuro */
}


